/* MainSlider 커스텀 시작 */
.custom-dots {
    position: absolute;
    bottom: 10px; /* 슬라이드 하단부에서 10px 위로 위치 */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-dots li {
    margin: 0 5px;
}

.custom-dots li button:before {
    content: " "; /* 불릿 모양을 설정 */
    display: inline-block; /* inline-block으로 설정하여 width와 height 적용 */
    width: 12px; /* 불릿 크기 설정 */
    height: 12px; /* 불릿 크기 설정 */
    background-color: white; /* 불릿 배경 색상 */
    border-radius: 50%; /* 원형으로 만듦 */
    opacity: 0.75; /* 불릿 투명도 설정 */
    border: 1px solid transparent; /* 기본 테두리 (투명) */
}

.custom-dots li.slick-active button:before {
    background-color: white; /* 활성화된 불릿 배경 색상 */
    opacity: 1; /* 활성화된 불릿 투명도를 1로 설정 */
    border: 1px solid gray; /* 활성화된 불릿 테두리 색상 설정 */
}

// ===============CardSlide 커스텀 시작============

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}

.card-list {
    display: inline-flex;
    gap: 20px;
    padding: 8px;
}
