/* 기본설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    visibility: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

/* 스크롤바 스타일링  */
.overflow-y-auto::-webkit-scrollbar {
    width: 0px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
