/* 스크롤바 스타일링  */
.overflow-y-auto::-webkit-scrollbar {
    width: 0px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
