/* 폰트설정 s */
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LINESeedKR-Rg";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

.title {
    font-family: "LINESeedKR-Rg";
    font-size: 20px;
}
.subtitle1 {
    font-family: "LINESeedKR-Rg";
    font-size: 16px;
}
.subtitle2 {
    font-family: "LINESeedKR-Rg";
    font-size: 14px;
}
.subtitle3 {
    font-family: "Pretendard-Regular";
    font-size: 15px;
}
.body1 {
    font-family: "Pretendard-Regular";
    font-size: 16px;
}
.body2 {
    font-family: "Pretendard-Regular";
    font-size: 14px;
}
.body3 {
    font-family: "Pretendard-Regular";
    font-size: 13px;
}
.mini {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    line-height: 12px;
}

html,
body {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    color: #333333;
}
/* 폰트설정 e */

/* 기본설정 s */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    visibility: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
    vertical-align: top;
}
/* 기본설정 e */

/* 스크롤바 스타일링 s */
.overflow-y-auto::-webkit-scrollbar {
    width: 0px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

/* tailwind.css 또는 별도의 CSS 파일 */
.scroll-container {
    -webkit-overflow-scrolling: touch;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* 스크롤바 스타일링 e */

// 리스트 이미지 고정값 start
// .break-word {
//     // white-space: pre-wrap; /* 줄바꿈을 위해 추가 */
//     // word-break: break-word; /* 긴 단어 줄바꿈을 위해 추가 */
// }

// .image-container {
//     width: 65px; /* 이미지 컨테이너의 너비 고정 */
//     flex-shrink: 0; /* 이미지 컨테이너가 줄어들지 않도록 설정 */
// }

// .image-container img {
//     width: 100%; /* 이미지가 컨테이너에 맞게 설정 */
//     height: auto; /* 이미지의 비율을 유지 */
//     border-radius: 4px; /* 모서리 둥글게 설정 */
// }
// 리스트 이미지 고정값 end

/* 스크롤바 커스텀 */
.custom-scroll-bar::-webkit-scrollbar {
    height: 4px; /* 스크롤바 높이 설정 */
    width: 1px; /* 스크롤바 너비 설정 */
}

.custom-scroll-bar::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 배경색 */
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #ddd; /* 스크롤바 썸 배경색 */
    border-radius: 4px; /* 스크롤바 썸 모서리 둥글기 설정 */
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #bbb; /* 스크롤바 썸 호버 시 배경색 */
}

// hospitalView에서만 navbar 속성 조정

.hospital-view-navbar {
    position: relative; /* position 속성을 설정 */
    z-index: 99; /* 낮은 z-index 값 설정 */
}

// 카카오 지도 맵 사이즈 반응형 구현
.kakao-map-container {
    height: 550px;
}

@media (max-width: 768px) {
    .kakao-map-container {
        height: 300px;
    }
}
